body {
    font-family: "Roboto-Regular", Arial, sans-serif;
    /*text-align: center;*/
    color: #000000;
    background-color: #ededed;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 120px;
    min-height: calc(100vh - 160px);
}

main h2 {
    text-align: center;
}

@media (max-width: 1020px) {
    main {
        margin-top: 100px;
        min-height: calc(100vh - 140px);
    }
}

@media (max-width: 780px) {
    main {
        margin-top: 60px;
        min-height: calc(100vh - 100px);
    }
}

@media (max-width: 620px) {
    main {
        margin-top: 10px;
        min-height: calc(100vh - 140px);
    }
}

